{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">Erro ao alterar senha.</div>
    {% endif %}

    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        <label>Senha atual:</label>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Senha atual" name="oldpassword">
        </div>

        <label>Nova Senha:</label>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Nova senha" name="password1">
        </div>

        <label>Digite a senha novamente:</label>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Nova senha" name="password2">
        </div>

        <button class="btn btn-success" type="submit">{% trans "Change Password" %}</button>
    </form>

{% endblock %}
