{% extends "website/system/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <h2 class="page-header">Configurações</h2>

    <form action="." method="post">
    {% csrf_token %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-body">

            {{ person_form|crispy }}

            </div>

            <input type="submit" value="Salvar" class="btn btn-success">
        </div>
    </div>
    </form>

{% endblock %}