{% extends "base.html" %}
{% block view %}

    <div class="container">
        <div class="starter-template">
            <h1>Bike Parking</h1>
            <p class="lead">Landing page do projeto. Você não está logado.</p>
            <p><a href="/accounts/login">Clique aqui</a> para fazer login ou cadastrar.</p>
            <p><a href="{% url 'test_client' %}">Clique aqui</a> para acessar os estacionamentos disponíveis.</p>
            <p><a href="{% url 'test_admin' %}">Clique aqui</a> para administrar seus estacionamentos.</p>
        </div>
    </div>

{% endblock %}