<!DOCTYPE html>
<html lang="en">

<head>

    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "css/creative.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">BikePark</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#services">SERVIÇOS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">ENCONTRE O MAIS PRÓXIMO</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">FAÇA PARTE</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Sistema integrado de estacionamento de bicicletas</h1>
                <hr>
                <p>Conforto e segurança para sua bicicleta em um sistema totalmente automatizado!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">SAIBA MAIS</a>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bicycle text-primary sr-icons"></i>
                        <h3>Comodidade</h3>
                        <p class="text-muted">Mais facilidade para guardar sua bicicleta.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lock text-primary sr-icons"></i>
                        <h3>Segurança</h3>
                        <p class="text-muted">Sistema de travas individuais por vaga.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                        <h3>Cobertura</h3>
                        <p class="text-muted">Encontre o estacionamento mais próximo de você.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card text-primary sr-icons"></i>
                        <h3>Pagamento</h3>
                        <p class="text-muted">Pague seus aluguéis sem sair de casa.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">ENCONTRE O ESTACIONAMENTO MAIS PRÓXIMO</h2>
                    <br><br>
                    <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=-25.453598,-49.253387&key=AIzaSyAlq0bkalJioSbXi-gDJQlnWGUnNLJqvFM" allowfullscreen></iframe>
{#                    <img src="{% static "css/images/MapaLocais.png" %}" width="100%" height="500">#}

                    <br><br>
                    <hr class="light">
                    <p class="text-faded">Encontre uma filial BikePark mais próxima e comece a utilizar.</p>

                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Comece já a usar!</h2>
                    <hr class="primary">
                    <p>Comece a utilizar agora a plataforma BikePark e fazer parte da nova geração de estacionamentos de bicicletas.</p>
                    <br>
                    <a href="{% url "usuario-criar-ou-logar" %}" class="btn btn-primary btn-xl page-scroll">QUERO COMEÇAR A USAR</a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quero abrir uma filial!</h2>
                <hr class="primary">
                <p>Quer abrir uma filia BikePark? Entre em contato e saiba mais.</p>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>(41) 1234-5678</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:gabriel@minucci.com.br">gabriel@minucci.com.br</a></p>
            </div>
        </div>
    </aside>

    <!-- jQuery -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "vendor/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "js/creative.min.js" %}"></script>

</body>

</html>
