<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Import CDN JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <!-- Import local CSS -->
    {% load staticfiles %}
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    {% load crispy_forms_tags %}

    <meta charset="UTF-8">
    <title>BikePark</title>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BikePark</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url "configuracoes-conta" %}">Configurações</a></li>
                        <li><a href="/accounts/logout/">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    <h2 class="page-header">Complete seu cadastro:</h2>

                    <form action="." method="post">
                    {% csrf_token %}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="panel-body">

                            {{ person_form|crispy }}

                            </div>

                            <input type="submit" value="Confirmar" class="btn btn-success">
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</body>
</html>