{% extends "website/customer/index.html" %}
{% load space_literal_status %}
{% block content %}
    <br><br><br><br>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2 text-center">
            <a class="btn btn-primary btn-lg" href="{% url "login-redirect" %}" role="button">Já possuo uma conta</a>
        </div>
        <div class="col-lg-4 text-center">
            <a class="btn btn-primary btn-lg" href="/accounts/signup/" role="button">Ainda não possuo uma conta</a>
        </div>
    </div>
{% endblock %}