{% extends "website/system/index.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <h1 class="page-header">Resumo</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" id="rental_month_report" style="width: 500px; height: 300px;"></div>
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
        </div>
    <h2 class="sub-header">Últimas transações</h2>

    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tipo</th>
                <th>Status</th>
                <th>Data</th>
                <th>Estacionamento</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in latest_transactions %}

                <tr>
                <td>
                    {% if transaction.transaction_type == 'Aluguel' %}
                        <a href="{% url 'relatorios-alugueis-detalhe' transaction.id %}">
                    {% else %}
                        <a>
                    {% endif %}
                    {{ transaction.transaction_type }}</a></td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.parking_lot_name }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});

        {% if rental_month_report|length > 0 %}
        function draw_rental_month_report() {
            var data = google.visualization.arrayToDataTable([
                ['Estacionamento', 'Aluguéis de {% now "F" %}'],
                {% for key, value in rental_month_report.items %}
                    ['{{ key }}', {{ value }}]{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]);
            var options = {
                title: 'Aluguéis de {% now "F" %}'
            };
            var chart = new google.visualization.PieChart(document.getElementById('rental_month_report'));

            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(draw_rental_month_report);
        {% else %}
        function draw_empty() {
            var data = google.visualization.arrayToDataTable([
                ['Estacionamento', 'Aluguéis de {% now "F" %}'],
                ['Dados insuficientes', 1]
            ]);
            var options = {
                title: 'Aluguéis de {% now "F" %}'
            };
            var chart = new google.visualization.PieChart(document.getElementById('rental_month_report'));

            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(draw_empty);
        {% endif %}

    </script>

{% endblock %}