{% extends "website/system/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h2 class="page-header">{{ parking_lot.name }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">Resumo de transações</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
                <th>Tipo de transação</th>
                <th>Status</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in last_transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.lodger }}</td>
                    <td>{{ transaction.get_rental_type_display }}</td>
                    <td><a href="{% url "relatorios-alugueis-detalhe" transaction.id %}">{{ transaction.get_rental_status_display }}</a></td>
                    {% if transaction.end_time %}
                        <td>{{ transaction.end_time|date:"j/n/Y G:i" }}</td>
                    {% else %}
                        <td>{{ transaction.start_time|date:"j/n/Y G:i" }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url "estacionamento-detalhe-vagas" parking_lot.id %}" class="btn btn-primary" role="button">Editar vagas</a>
    <a href="{% url 'estacionamento-detalhe-localizacao' parking_lot.id %}" class="btn btn-primary" role="button">Editar localização</a>
    <a href="{% url "relatorios-unidade-alugueis" parking_lot.id %}" class="btn btn-primary" role="button">Histórico de aluguéis</a>
    <a href="{% url "relatorios-unidade-pagamentos" parking_lot.id %}" class="btn btn-primary" role="button">Histórico de pagamentos</a>

    <br>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Detalhes</h3>
        </div>

        <div class="panel-body">

            <div class="panel-body">
                <form action="." method="post">

                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Salvar" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>

{% endblock %}