{% extends "website/system/index.html" %}
{% block content %}

    <h2 class="page-header">{{ parking_lot }}</h2>

    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" value="Nova vaga" class="btn btn-success">
    </form>

    <br>

    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Número</th>
                <th>Status</th>
{#                <th>ID</th>#}
            </tr>
            </thead>
            <tbody>
            {% for parking_space in spaces %}
                <tr>
                    <td>{{ parking_space.number }}</td>
                    <td><a href="{% url 'estacionamento-detalhe-vagas-editar' parking_lot.id parking_space.id %}">{{ parking_space.get_status_display }}</a></td>
{#                    <td>{{ parking_space.id }}</td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}