{% extends "website/customer/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h2 class="page-header">Aluguel #{{ rental_id }}</h2>

    <a class="btn btn-primary" href="{% url "usuario-aluguel-pagar" rental_id %}" role="button">Efetuar pagamento</a>
    <br><br>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Aluguel</h3>
        </div>

        <div class="panel-body">
            <div class="panel-body">

                <label>Vaga:</label>
                <div class="well well-sm">{{ rental.parking_space.number }}</div>

                <label>Tipo de aluguel:</label>
                <div class="well well-sm">{{ rental.get_rental_type_display }}</div>

                <label>Status:</label>
                <div class="well well-sm">{{ rental.get_rental_status_display }}</div>

                <label>Início:</label>
                <div class="well well-sm">{{ rental.start_time }}</div>

                <label>Término:</label>
                <div class="well well-sm">{{ rental.end_time }}</div>

                <label>Total:</label>
                <div class="well well-sm">{{ rental.total }}</div>

                <label>PIN:</label>
                <div class="well well-sm">{{ rental.pin_code }}</div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Estacionamento</h3>
        </div>

        <div class="panel-body">
            <div class="panel-body">

                <label>Nome:</label>
                <div class="well well-sm">{{ parking_lot.name }}</div>

                <label>Descrição:</label>
                <div class="well well-sm">{{ parking_lot.description }}</div>

                <label>Valor mínimo:</label>
                <div class="well well-sm">{{ parking_lot.default_price }}</div>

                <label>Valor por hora:</label>
                <div class="well well-sm">{{ parking_lot.per_hour_price }}</div>


            </div>
        </div>
    </div>

{%  endblock %}