import os
from unipath import Path


PROJECT_DIR = Path(__file__).parent

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'bikeparking',
        'USER': 'bikeparking',
        'PASSWORD': 'da39a3ee5e6b4',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

DEBUG = True
