{% extends "base.html" %}
{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bike Parking</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Configurações</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block sidebar %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li{% if "resumo" in request.path %} class="active"> {% endif %}><a href="#">Resumo<span class="sr-only">(current)</span></a></li>
                    <li{% if "unidades" in request.path %} class="active"> {% endif %}><a href="#">Unidades</a></li>
                    <li{% if "relatorios" in request.path %} class="active"> {% endif %}><a href="#">Relatórios</a></li>
                    <li{% if "usuarios" in request.path %} class="active"> {% endif %}><a href="#">Usuários</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li{% if "adicionar-unidade" in request.path %} class="active"> {% endif %}><a href="#">Adicionar unidade<span class="sr-only">(current)</span></a></li>
                    <li{% if "configuracoes-conta" in request.path %} class="active"> {% endif %}><a href="#">Configurações de conta</a></li>
                    <li><a href="#">Sair</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}
