{% extends "base.html" %}
{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">BikePark</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "configuracoes-conta" %}">Configurações</a></li>
                    <li><a href="/accounts/logout/">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block sidebar %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
            {% if user.is_authenticated %}
                <ul class="nav nav-sidebar">
                    <li{% if "resumo" in request.path %} class="active" {% endif %}><a href="{% url "resumo" %}">Resumo<span class="sr-only">(current)</span></a></li>
                    <li{% if "estacionamentos" in request.path %} class="active" {% endif %}><a href="{% url "estacionamentos" %}">Estacionamentos</a></li>
                    <li{% if "relatorios" in request.path %} class="active" {% endif %}><a href="{% url "relatorios" %}">Relatórios</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li{% if "adicionar-unidade" in request.path %} class="active" {% endif %}><a href="{% url "adicionar-unidade" %}">Adicionar unidade<span class="sr-only">(current)</span></a></li>
                </ul>
            {% endif %}
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}
